<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Django girls blog</a></h1>
    </div>
    <div>
      <p>published: 2023-08-06 15:47</p>
      <h2><a href="">My first post</a></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam repellendus
        atque adipisci quidem qui est harum illo, dolorem nobis error voluptatem
        consequuntur repellat laborum praesentium maxime nulla voluptate iusto
        ab.
      </p>
    </div>
    <div>
      <p>published: 2023-08-06 15:48</p>
      <h2><a href="">2番めの投稿</a></h2>
      <p>再びおねがいします</p>
    </div>
  </body>
</html>
